name: Test

on:
  push:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Install tools
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3

      - name: Run script
        run: |
          uv run uv-jupyter-kernel
